{% extends "layout.html" %}

{% block title %}
    Registration
{% endblock %}

{% block main %}
    <div class="alarm-text align_elements">{{ message }}</div>
    <div class="container">
        <form action="/registration" method="post">
            <div class="pd20">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="nickname" placeholder="Username" type="text" value="{{ name }}">
            </div>

            <div class="pd20">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" value="{{ password }}">
            </div>
            <div class="pd20">
                <input class="form-control mx-auto w-auto" id="confirm_password" name="confirm_password" placeholder="Confirm password" type="password" value="{{ confirm }}">
            </div>
            <button class="btn btn-primary" type="submit">Registrate</button>
        </form>
    </div>
{% endblock %}
