{% extends "layout.html" %}

{% block title %}
    {{ title_block }}
{% endblock %}

{% block main %}
    <form action="/{{ action }}" method="post">
        <div class="wrap">
            <input class="note-title no-border" maxlength="15" value="{{ title }}" placeholder="Title" name="title">
            <input class="hidden" value="{{ temp }}" name="temp">
            <hr>
            <textarea class="notes no-border" name="text" maxlength="10000" placeholder="{{ message }}">{{ text }}</textarea>
            <form action="/create" method="post">
                <button class="save no-border" type="submit" value="{{ note_id }}" name="save">{{ btn }}</button>
            </form>
        </div>
    </form>
{% endblock %}